<div class="pf-v6-c-simple-list" id="slist-links">
  <ul class="pf-v6-c-simple-list__list" role="list">
    <li class="pf-v6-c-simple-list__list-item"><a class="pf-v6-c-simple-list__item-link pf-m-current" href="#" aria-current="page">Linked item 1</a></li>
    <li class="pf-v6-c-simple-list__list-item"><a class="pf-v6-c-simple-list__item-link" href="#">Linked item 2</a></li>
    <li class="pf-v6-c-simple-list__list-item"><a class="pf-v6-c-simple-list__item-link" href="#">Linked item 3</a></li>
  </ul>
</div>
