<div x-data="{ c1: false, c2: true, c3: false }">
<div class="pf-v6-c-menu" id="mn-item-checkbox" style="max-width: 260px">
  <div class="pf-v6-c-menu__content">
    <ul class="pf-v6-c-menu__list">
      <li class="pf-v6-c-menu__list-item">
        <label class="pf-v6-c-menu__item" for="mn-check-1-input">
          <span class="pf-v6-c-menu__item-main">
            <span class="pf-v6-c-menu__item-check">
              <span class="pf-v6-c-check pf-m-standalone">
                <input class="pf-v6-c-check__input" type="checkbox" id="mn-check-1-input" x-model="c1" />
              </span>
            </span>
            <span class="pf-v6-c-menu__item-text">Checkbox 1</span>
          </span>
        </label>
      </li>
      <li class="pf-v6-c-menu__list-item">
        <label class="pf-v6-c-menu__item" for="mn-check-2-input">
          <span class="pf-v6-c-menu__item-main">
            <span class="pf-v6-c-menu__item-check">
              <span class="pf-v6-c-check pf-m-standalone">
                <input class="pf-v6-c-check__input" type="checkbox" id="mn-check-2-input" x-model="c2" />
              </span>
            </span>
            <span class="pf-v6-c-menu__item-text">Checkbox 2</span>
          </span>
        </label>
      </li>
      <li class="pf-v6-c-menu__list-item">
        <label class="pf-v6-c-menu__item" for="mn-check-3-input">
          <span class="pf-v6-c-menu__item-main">
            <span class="pf-v6-c-menu__item-check">
              <span class="pf-v6-c-check pf-m-standalone">
                <input class="pf-v6-c-check__input" type="checkbox" id="mn-check-3-input" x-model="c3" />
              </span>
            </span>
            <span class="pf-v6-c-menu__item-text">Checkbox 3</span>
          </span>
        </label>
      </li>
    </ul>
  </div>
</div>
</div>
