<div class="pf-v6-c-menu pf-m-scrollable" id="mn-scrollable" style="max-width: 260px">
  <div class="pf-v6-c-menu__content">
    <ul class="pf-v6-c-menu__list" role="menu">
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 1</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 2</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 3</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 4</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 5</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 6</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 7</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 8</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 9</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 10</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 11</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Action 12</span></span>
        </button>
      </li>
    </ul>
  </div>
</div>
