{! Custom max-height via the content attrs CSS var. !}
{#include components/navigation/menu id="mn-scrollable-custom-height" scrollable=true attrs='style="max-width: 220px"'}
{#include components/navigation/menu-content attrs='style="--pf-v6-c-menu__content--MaxHeight: 200px"'}
{#include components/navigation/menu-list}
{#include components/navigation/menu-item text="Action 1" /}
{#include components/navigation/menu-item text="Action 2" /}
{#include components/navigation/menu-item text="Action 3" /}
{#include components/navigation/menu-item text="Action 4" /}
{#include components/navigation/menu-item text="Action 5" /}
{#include components/navigation/menu-item text="Action 6" /}
{#include components/navigation/menu-item text="Action 7" /}
{#include components/navigation/menu-item text="Action 8" /}
{#include components/navigation/menu-item text="Action 9" /}
{#include components/navigation/menu-item text="Action 10" /}
{#include components/navigation/menu-item text="Action 11" /}
{#include components/navigation/menu-item text="Action 12" /}
{/include}
{/include}
{/include}
