<div class="pf-v6-c-menu" id="mn-icons" style="max-width: 260px">
  <div class="pf-v6-c-menu__content">
    <ul class="pf-v6-c-menu__list" role="menu">
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-icon">{icons:svg('fa:code').raw}</span><span class="pf-v6-c-menu__item-text">From git</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-icon">{icons:svg('fa:cube').raw}</span><span class="pf-v6-c-menu__item-text">Container image</span></span>
        </button>
      </li>
      <li role="none" class="pf-v6-c-menu__list-item">
        <button class="pf-v6-c-menu__item" type="button" role="menuitem">
          <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-icon">{icons:svg('fa:bell').raw}</span><span class="pf-v6-c-menu__item-text">Docker file</span></span>
        </button>
      </li>
    </ul>
  </div>
</div>
