{#include components/navigation/menu id="mn-actions" plain=true attrs='style="max-width: 260px"'}
{#include components/navigation/menu-content}
{#include components/navigation/menu-list noRole=true}
<li class="pf-v6-c-menu__list-item">
  <button class="pf-v6-c-menu__item" type="button">
    <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Item 1</span></span>
  </button>
  <button class="pf-v6-c-button pf-m-plain pf-v6-c-menu__item-action pf-m-favorite" type="button" aria-label="Favorite" x-data="{ fav: false }" :class="{ 'pf-m-favorited': fav }" @click="fav = !fav">
    <span class="pf-v6-c-menu__item-action-icon">{icons:svg('fa:star').raw}</span>
  </button>
</li>
<li class="pf-v6-c-menu__list-item">
  <button class="pf-v6-c-menu__item" type="button">
    <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Item 2</span></span>
  </button>
  <button class="pf-v6-c-button pf-m-plain pf-v6-c-menu__item-action" type="button" aria-label="Copy">
    <span class="pf-v6-c-menu__item-action-icon">{icons:svg('fa:clipboard').raw}</span>
  </button>
</li>
<li class="pf-v6-c-menu__list-item">
  <button class="pf-v6-c-menu__item" type="button">
    <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Item 3</span></span>
  </button>
  <button class="pf-v6-c-button pf-m-plain pf-v6-c-menu__item-action" type="button" aria-label="Notifications">
    <span class="pf-v6-c-menu__item-action-icon">{icons:svg('fa:bell').raw}</span>
  </button>
</li>
{/include}
{/include}
{/include}
