<header class="pf-v6-c-masthead" id="mh-basic">
  <div class="pf-v6-c-masthead__main">
    <button class="pf-v6-c-button pf-m-hamburger pf-m-plain" type="button" aria-label="Toggle navigation" x-data="{ expanded: false }" :aria-expanded="expanded.toString()" :class="expanded ? 'pf-m-expand' : ''" @click="expanded = !expanded">
      <span class="pf-v6-c-button__icon"><svg viewBox="0 0 10 10" class="pf-v6-c-button--hamburger-icon pf-v6-svg" width="1em" height="1em"><path class="pf-v6-c-button--hamburger-icon--top" d="M1,1 L9,1"/><path class="pf-v6-c-button--hamburger-icon--middle" d="M1,5 L9,5"/><path class="pf-v6-c-button--hamburger-icon--arrow" d="M1,5 L1,5 L1,5"/><path class="pf-v6-c-button--hamburger-icon--bottom" d="M9,9 L1,9"/></svg></span>
    </button>
    <div class="pf-v6-c-masthead__brand"><a class="pf-v6-c-masthead__logo" href="#"><strong>PHA Showcase</strong></a></div>
  </div>
  <div class="pf-v6-c-masthead__content">
      <div class="pf-v6-c-toolbar">
        <div class="pf-v6-c-toolbar__content">
          <div class="pf-v6-c-toolbar__content-section">
            <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Settings">
              <span class="pf-v6-c-button__icon">{icons:svg('fa:gear').raw}</span>
            </button>
            <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Help">
              <span class="pf-v6-c-button__icon">{icons:svg('fa:circle-question').raw}</span>
            </button>
          </div>
        </div>
      </div>
  </div>
</header>
