<div id="ws-core-c-tree-view-with-unique-icon-per-item" class="ws-core-c-tree-view" x-data="phaTreeView()">
  <div class="ws-preview-html">
    <div class="pf-v6-c-tree-view">
      <ul
        class="pf-v6-c-tree-view__list"
        role="tree"
        aria-label="Tree View with unique icon per item example"
        @keydown="handleKeyNav($event)"
        @click="handleToggle($event)"
      >
        <li
          class="pf-v6-c-tree-view__list-item pf-m-expanded"
          role="treeitem"
          aria-selected="false"
          aria-expanded="true"
          tabindex="0"
        >
          <div class="pf-v6-c-tree-view__content">
            <button class="pf-v6-c-tree-view__node">
              <span class="pf-v6-c-tree-view__node-container">
                <span class="pf-v6-c-tree-view__node-toggle">
                  <span class="pf-v6-c-tree-view__node-toggle-icon">
                    {icons:svg('fa:angle-right').raw}
                  </span>
                </span>
                <span class="pf-v6-c-tree-view__node-icon">
                  {icons:svg('fa-brands:github').raw}
                </span>
                <span class="pf-v6-c-tree-view__node-text">Github accounts</span>
              </span>
            </button>
          </div>
          <ul class="pf-v6-c-tree-view__list" role="group">
            <li
              class="pf-v6-c-tree-view__list-item"
              role="treeitem"
              aria-selected="false"
              tabindex="-1"
            >
              <div class="pf-v6-c-tree-view__content">
                <button class="pf-v6-c-tree-view__node">
                  <span class="pf-v6-c-tree-view__node-container">
                    <span class="pf-v6-c-tree-view__node-text">Account 1</span>
                  </span>
                </button>
              </div>
            </li>
            <li
              class="pf-v6-c-tree-view__list-item"
              role="treeitem"
              aria-selected="false"
              tabindex="-1"
            >
              <div class="pf-v6-c-tree-view__content">
                <button class="pf-v6-c-tree-view__node">
                  <span class="pf-v6-c-tree-view__node-container">
                    <span class="pf-v6-c-tree-view__node-text">Account 2</span>
                  </span>
                </button>
              </div>
            </li>
          </ul>
        </li>
        <li
          class="pf-v6-c-tree-view__list-item"
          role="treeitem"
          aria-selected="false"
          tabindex="-1"
        >
          <div class="pf-v6-c-tree-view__content">
            <button class="pf-v6-c-tree-view__node">
              <span class="pf-v6-c-tree-view__node-container">
                <span class="pf-v6-c-tree-view__node-toggle">
                  <span class="pf-v6-c-tree-view__node-toggle-icon">
                    {icons:svg('fa:angle-right').raw}
                  </span>
                </span>
                <span class="pf-v6-c-tree-view__node-icon">
                  {icons:svg('fa-brands:gitlab').raw}
                </span>
                <span class="pf-v6-c-tree-view__node-text">Gitlab accounts</span>
              </span>
            </button>
          </div>
          <ul class="pf-v6-c-tree-view__list" role="group">
            <li
              class="pf-v6-c-tree-view__list-item"
              role="treeitem"
              aria-selected="false"
              tabindex="-1"
            >
              <div class="pf-v6-c-tree-view__content">
                <button class="pf-v6-c-tree-view__node">
                  <span class="pf-v6-c-tree-view__node-container">
                    <span class="pf-v6-c-tree-view__node-text">Account 3</span>
                  </span>
                </button>
              </div>
            </li>
          </ul>
        </li>
        <li
          class="pf-v6-c-tree-view__list-item"
          role="treeitem"
          aria-selected="false"
          tabindex="-1"
        >
          <div class="pf-v6-c-tree-view__content">
            <button class="pf-v6-c-tree-view__node">
              <span class="pf-v6-c-tree-view__node-container">
                <span class="pf-v6-c-tree-view__node-toggle">
                  <span class="pf-v6-c-tree-view__node-toggle-icon">
                    {icons:svg('fa:angle-right').raw}
                  </span>
                </span>
                <span class="pf-v6-c-tree-view__node-icon">
                  {icons:svg('fa-brands:google').raw}
                </span>
                <span class="pf-v6-c-tree-view__node-text">Google accounts</span>
              </span>
            </button>
          </div>
          <ul class="pf-v6-c-tree-view__list" role="group">
            <li
              class="pf-v6-c-tree-view__list-item"
              role="treeitem"
              aria-selected="false"
              tabindex="-1"
            >
              <div class="pf-v6-c-tree-view__content">
                <button class="pf-v6-c-tree-view__node">
                  <span class="pf-v6-c-tree-view__node-container">
                    <span class="pf-v6-c-tree-view__node-text">Account 4</span>
                  </span>
                </button>
              </div>
            </li>
            <li
              class="pf-v6-c-tree-view__list-item"
              role="treeitem"
              aria-selected="false"
              tabindex="-1"
            >
              <div class="pf-v6-c-tree-view__content">
                <button class="pf-v6-c-tree-view__node">
                  <span class="pf-v6-c-tree-view__node-container">
                    <span class="pf-v6-c-tree-view__node-text">Account 5</span>
                  </span>
                </button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
