<div id="ws-core-c-tree-view-with-separate-selection-and-expansion" class="ws-core-c-tree-view" x-data="phaTreeView()">
  <div class="ws-preview-html">
    <div class="pf-v6-c-tree-view">
      <ul
        class="pf-v6-c-tree-view__list"
        role="tree"
        aria-multiselectable="false"
        aria-label="Tree View with selectable, expandable nodes example"
        @keydown="handleKeyNav($event)"
        @click="handleClick($event)"
      >
        <li
          class="pf-v6-c-tree-view__list-item pf-m-expanded"
          role="treeitem"
          aria-selected="false"
          aria-expanded="true"
          tabindex="-1"
        >
          <div class="pf-v6-c-tree-view__content">
            <div
              class="pf-v6-c-tree-view__node"
              id="node-tree-view-separate-selection-1"
              aria-labelledby="node-tree-view-separate-selection-1 text-tree-view-separate-selection-1"
            >
              <span class="pf-v6-c-tree-view__node-container">
                <button
                  class="pf-v6-c-tree-view__node-toggle"
                  type="button"
                  tabindex="-1"
                  aria-labelledby="node-tree-view-separate-selection-1"
                >
                  <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                </button>
                <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">Application launcher</button>
              </span>
            </div>
          </div>
          <ul class="pf-v6-c-tree-view__list" role="group">
            <li
              class="pf-v6-c-tree-view__list-item pf-m-expanded"
              role="treeitem"
              aria-selected="false"
              aria-expanded="true"
              tabindex="-1"
            >
              <div class="pf-v6-c-tree-view__content">
                <div
                  class="pf-v6-c-tree-view__node"
                  id="node-tree-view-separate-selection-2"
                  aria-labelledby="node-tree-view-separate-selection-2 text-tree-view-separate-selection-2"
                >
                  <span class="pf-v6-c-tree-view__node-container">
                    <button
                      class="pf-v6-c-tree-view__node-toggle"
                      type="button"
                      tabindex="-1"
                      aria-labelledby="node-tree-view-separate-selection-2"
                    >
                      <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                    </button>
                    <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">Application 1</button>
                  </span>
                </div>
              </div>
              <ul class="pf-v6-c-tree-view__list" role="group">
                <li class="pf-v6-c-tree-view__list-item" role="treeitem" aria-selected="false" tabindex="-1">
                  <div class="pf-v6-c-tree-view__content">
                    <button class="pf-v6-c-tree-view__node">
                      <span class="pf-v6-c-tree-view__node-container">
                        <span class="pf-v6-c-tree-view__node-text">Settings</span>
                      </span>
                    </button>
                  </div>
                </li>
                <li class="pf-v6-c-tree-view__list-item" role="treeitem" aria-selected="false" tabindex="-1">
                  <div class="pf-v6-c-tree-view__content">
                    <button class="pf-v6-c-tree-view__node">
                      <span class="pf-v6-c-tree-view__node-container">
                        <span class="pf-v6-c-tree-view__node-text">Options</span>
                      </span>
                    </button>
                  </div>
                </li>
                <li
                  class="pf-v6-c-tree-view__list-item"
                  role="treeitem"
                  aria-selected="false"
                  aria-expanded="false"
                  tabindex="-1"
                >
                  <div class="pf-v6-c-tree-view__content">
                    <div
                      class="pf-v6-c-tree-view__node"
                      id="node-tree-view-separate-selection-3"
                      aria-labelledby="node-tree-view-separate-selection-3 text-tree-view-separate-selection-3"
                    >
                      <span class="pf-v6-c-tree-view__node-container">
                        <button
                          class="pf-v6-c-tree-view__node-toggle"
                          type="button"
                          tabindex="-1"
                          aria-labelledby="node-tree-view-separate-selection-3"
                        >
                          <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                        </button>
                        <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">Loader</button>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li
              class="pf-v6-c-tree-view__list-item pf-m-expanded"
              role="treeitem"
              aria-selected="false"
              aria-expanded="true"
              tabindex="-1"
            >
              <div class="pf-v6-c-tree-view__content">
                <div
                  class="pf-v6-c-tree-view__node"
                  id="node-tree-view-separate-selection-4"
                  aria-labelledby="node-tree-view-separate-selection-4 text-tree-view-separate-selection-4"
                >
                  <span class="pf-v6-c-tree-view__node-container">
                    <button
                      class="pf-v6-c-tree-view__node-toggle"
                      type="button"
                      tabindex="-1"
                      aria-labelledby="node-tree-view-separate-selection-4"
                    >
                      <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                    </button>
                    <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">Application 2</button>
                  </span>
                </div>
              </div>
              <ul class="pf-v6-c-tree-view__list" role="group">
                <li class="pf-v6-c-tree-view__list-item" role="treeitem" aria-selected="false" tabindex="-1">
                  <div class="pf-v6-c-tree-view__content">
                    <button class="pf-v6-c-tree-view__node">
                      <span class="pf-v6-c-tree-view__node-container">
                        <span class="pf-v6-c-tree-view__node-text">Settings</span>
                      </span>
                    </button>
                  </div>
                </li>
                <li
                  class="pf-v6-c-tree-view__list-item"
                  role="treeitem"
                  aria-selected="false"
                  aria-expanded="false"
                  tabindex="-1"
                >
                  <div class="pf-v6-c-tree-view__content">
                    <div
                      class="pf-v6-c-tree-view__node"
                      id="node-tree-view-separate-selection-5"
                      aria-labelledby="node-tree-view-separate-selection-5 text-tree-view-separate-selection-5"
                    >
                      <span class="pf-v6-c-tree-view__node-container">
                        <button
                          class="pf-v6-c-tree-view__node-toggle"
                          type="button"
                          tabindex="-1"
                          aria-labelledby="node-tree-view-separate-selection-5"
                        >
                          <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                        </button>
                        <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">Settings</button>
                      </span>
                    </div>
                  </div>
                </li>
                <li
                  class="pf-v6-c-tree-view__list-item pf-m-expanded"
                  role="treeitem"
                  aria-selected="false"
                  aria-expanded="true"
                  tabindex="-1"
                >
                  <div class="pf-v6-c-tree-view__content">
                    <div
                      class="pf-v6-c-tree-view__node"
                      id="node-tree-view-separate-selection-6"
                      aria-labelledby="node-tree-view-separate-selection-6 text-tree-view-separate-selection-6"
                    >
                      <span class="pf-v6-c-tree-view__node-container">
                        <button
                          class="pf-v6-c-tree-view__node-toggle"
                          type="button"
                          tabindex="-1"
                          aria-labelledby="node-tree-view-separate-selection-6"
                        >
                          <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                        </button>
                        <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">Loader</button>
                      </span>
                    </div>
                  </div>
                  <ul class="pf-v6-c-tree-view__list" role="group">
                    <li
                      class="pf-v6-c-tree-view__list-item"
                      role="treeitem"
                      aria-selected="false"
                      aria-expanded="false"
                      tabindex="-1"
                    >
                      <div class="pf-v6-c-tree-view__content">
                        <div
                          class="pf-v6-c-tree-view__node"
                          tabindex="-1"
                          id="node-tree-view-separate-selection-7"
                          aria-label="Select"
                          aria-labelledby="node-tree-view-separate-selection-7 text-tree-view-separate-selection-7"
                        >
                          <span class="pf-v6-c-tree-view__node-container">
                            <button
                              class="pf-v6-c-tree-view__node-toggle"
                              type="button"
                              tabindex="-1"
                              aria-labelledby="node-tree-view-separate-selection-7"
                            >
                              <span class="pf-v6-c-tree-view__node-toggle-icon">
                                {icons:svg('fa:angle-right').raw}
                              </span>
                            </button>
                            <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">
                              Loader app 1
                            </button>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li class="pf-v6-c-tree-view__list-item" role="treeitem" aria-selected="false" tabindex="-1">
                      <div class="pf-v6-c-tree-view__content">
                        <button class="pf-v6-c-tree-view__node">
                          <span class="pf-v6-c-tree-view__node-container">
                            <span class="pf-v6-c-tree-view__node-text">Loader app 2</span>
                          </span>
                        </button>
                      </div>
                    </li>
                    <li class="pf-v6-c-tree-view__list-item" role="treeitem" aria-selected="false" tabindex="-1">
                      <div class="pf-v6-c-tree-view__content">
                        <button class="pf-v6-c-tree-view__node">
                          <span class="pf-v6-c-tree-view__node-container">
                            <span class="pf-v6-c-tree-view__node-text">Loader app 3</span>
                          </span>
                        </button>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li
          class="pf-v6-c-tree-view__list-item"
          role="treeitem"
          aria-selected="false"
          aria-expanded="false"
          tabindex="-1"
        >
          <div class="pf-v6-c-tree-view__content">
            <div
              class="pf-v6-c-tree-view__node"
              id="node-tree-view-separate-selection-8"
              aria-labelledby="node-tree-view-separate-selection-8 text-tree-view-separate-selection-8"
            >
              <span class="pf-v6-c-tree-view__node-container">
                <button
                  class="pf-v6-c-tree-view__node-toggle"
                  type="button"
                  tabindex="-1"
                  aria-labelledby="node-tree-view-separate-selection-8"
                >
                  <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                </button>
                <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">Cost management</button>
              </span>
            </div>
          </div>
        </li>
        <li
          class="pf-v6-c-tree-view__list-item"
          role="treeitem"
          aria-selected="false"
          aria-expanded="false"
          tabindex="-1"
        >
          <div class="pf-v6-c-tree-view__content">
            <div
              class="pf-v6-c-tree-view__node"
              id="node-tree-view-separate-selection-9"
              aria-labelledby="node-tree-view-separate-selection-9 text-tree-view-separate-selection-9"
            >
              <span class="pf-v6-c-tree-view__node-container">
                <button
                  class="pf-v6-c-tree-view__node-toggle"
                  type="button"
                  tabindex="-1"
                  aria-labelledby="node-tree-view-separate-selection-9"
                >
                  <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                </button>
                <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">Sources</button>
              </span>
            </div>
          </div>
        </li>
        <li
          class="pf-v6-c-tree-view__list-item"
          role="treeitem"
          aria-selected="false"
          aria-expanded="false"
          tabindex="-1"
        >
          <div class="pf-v6-c-tree-view__content">
            <div
              class="pf-v6-c-tree-view__node"
              id="node-tree-view-separate-selection-10"
              aria-labelledby="node-tree-view-separate-selection-10 text-tree-view-separate-selection-10"
            >
              <span class="pf-v6-c-tree-view__node-container">
                <button
                  class="pf-v6-c-tree-view__node-toggle"
                  type="button"
                  tabindex="-1"
                  aria-labelledby="node-tree-view-separate-selection-10"
                >
                  <span class="pf-v6-c-tree-view__node-toggle-icon"> {icons:svg('fa:angle-right').raw} </span>
                </button>
                <button class="pf-v6-c-tree-view__node-text" type="button" tabindex="-1">
                  This is a really really really long folder name that overflows from the width of the container.
                </button>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
