<div class="ws-preview-html" style="display: grid; gap: 0.5rem">
  {#include components/data-display/content component="h1" text="First level heading" /}
  {#include components/data-display/content component="h2" text="Second level heading" /}
  {#include components/data-display/content component="h3" text="Third level heading" /}
  {#include components/data-display/content component="h4" text="Fourth level heading" /}
  {#include components/data-display/content component="h5" text="Fifth level heading" /}
  {#include components/data-display/content component="h6" text="Sixth level heading" /}
</div>
