{! Helper text — PatternFly v6 !}
{! Parameters: id, text, status (optional: indeterminate|warning|success|error), dynamic (optional), iconName (optional, "set:slug") !}
<div class="pf-v6-c-helper-text"{#if id??} id="{id}"{/if}>
  <div class="pf-v6-c-helper-text__item{#if status??} pf-m-{status}{/if}{#if dynamic??} pf-m-dynamic{/if}">
    {#if iconName??}
    <span class="pf-v6-c-helper-text__item-icon">{icons:svg(iconName).raw}</span>
    {/if}
    <span class="pf-v6-c-helper-text__item-text">{text}</span>
  </div>
</div>