{! Skeleton — PatternFly v6 !}
{! Parameters: id (optional), shape (optional: circle|square), width (optional: sm|md|lg|25|33|50|66|75), height (optional: sm|md|lg|25|33|50|66|75|100), textSize (optional: sm|md|lg|xl|2xl|3xl|4xl), screenreaderText (optional) !}
<div class="pf-v6-c-skeleton{#if shape??} pf-m-{shape}{/if}{#if width??} pf-m-width-{width}{/if}{#if height??} pf-m-height-{height}{/if}{#if textSize??} pf-m-text-{textSize}{/if}"{#if id??} id="{id}"{/if}>
  {#if screenreaderText??}<span class="pf-v6-screen-reader">{screenreaderText}</span>{/if}
</div>