{! Map GeoJSON layer — a polygon overlay highlighting Central Park, New York. !}
<div
  class="pha-c-map"
  id="map-geojson"
  x-data="phaMap({
       center: [-73.968, 40.785],
       zoom: 14,
       style: 'light',
       geoJson: {
         type: 'Feature',
         geometry: {
           type: 'Polygon',
           coordinates: [[
             [-73.9813, 40.7681],
             [-73.9580, 40.8006],
             [-73.9494, 40.7968],
             [-73.9728, 40.7644],
             [-73.9813, 40.7681]
           ]]
         },
         properties: { name: 'Central Park' }
       }
     })"
>
  <div class="pha-c-map__container"></div>
</div>
