<div
  x-data="{ open: false, q: '', opts: ['Alabama', 'Florida', 'New Jersey', 'New Mexico', 'New York', 'North Carolina'], select(o) { if (this.opts.indexOf(o) === -1) this.opts.push(o); this.q = o; this.open = false },
    matches() { return this.opts.filter((o) => o.toLowerCase().indexOf(this.q.toLowerCase()) !== -1) } }"
  id="sl-typeahead-creatable"
  style="position: relative; max-width: 320px"
  @click.outside="open = false"
>
  <div class="pf-v6-c-menu-toggle pf-m-typeahead pf-m-full-width" :class="open ? 'pf-m-expanded' : ''" id="sl-typeahead-creatable-toggle">
    <div class="pf-v6-c-text-input-group pf-m-plain">
      <div class="pf-v6-c-text-input-group__main">
        <span class="pf-v6-c-text-input-group__text">
          <input
            class="pf-v6-c-text-input-group__text-input"
            type="text"
            id="sl-typeahead-creatable-input"
            x-model="q"
            @focus="open = true"
            @input="open = true"
            placeholder="Select a state"
            aria-label="Select a state"
            role="combobox"
            :aria-expanded="open"
          />
        </span>
      </div>
      <div class="pf-v6-c-text-input-group__utilities" x-show="q !== ''">
        <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Clear input" @click="q = ''">
          <span class="pf-v6-c-button__icon">{icons:svg('fa:xmark').raw}</span>
        </button>
      </div>
    </div>
    <button class="pf-v6-c-menu-toggle__button" type="button" :aria-expanded="open" aria-label="Menu toggle" @click="open = !open">
      <span class="pf-v6-c-menu-toggle__controls"><span class="pf-v6-c-menu-toggle__toggle-icon">{icons:svg('fa:caret-down').raw}</span></span>
    </button>
  </div>
  <div class="pf-v6-c-menu" x-show="open" x-cloak style="position: absolute; top: 100%; left: 0; right: 0; z-index: 200">
    <div class="pf-v6-c-menu__content">
      <ul class="pf-v6-c-menu__list" role="listbox">
        <template x-for="opt in matches()" :key="opt">
          <li role="none" class="pf-v6-c-menu__list-item">
            <button class="pf-v6-c-menu__item" type="button" role="option" @click="select(opt)">
              <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text" x-text="opt"></span></span>
            </button>
          </li>
        </template>
        <li role="none" class="pf-v6-c-menu__list-item" x-show="q !== '' && matches().length === 0">
          <button class="pf-v6-c-menu__item" type="button" role="option" @click="select(q)">
            <span class="pf-v6-c-menu__item-main"><span class="pf-v6-c-menu__item-text">Create "<span x-text="q"></span>"</span></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
