{#include components/navigation/jump-links id="jl-horizontal" ariaLabel="Jump to section"}{#content}
  <li class="pf-v6-c-jump-links__item pf-m-current"><a href="#top" class="pf-v6-c-jump-links__link"><span class="pf-v6-c-jump-links__link-text">Top</span></a></li>
  <li class="pf-v6-c-jump-links__item"><a href="#middle" class="pf-v6-c-jump-links__link"><span class="pf-v6-c-jump-links__link-text">Middle</span></a></li>
  <li class="pf-v6-c-jump-links__item"><a href="#bottom" class="pf-v6-c-jump-links__link"><span class="pf-v6-c-jump-links__link-text">Bottom</span></a></li>
{/content}{/include}
