<nav class="pf-v6-c-jump-links pf-m-vertical" id="jl-vertical-label" aria-label="Jump to section" style="max-width: 200px">
  <div class="pf-v6-c-jump-links__main">
    <div class="pf-v6-c-jump-links__header">
      <div class="pf-v6-c-jump-links__label">Jump to section</div>
    </div>
    <ul class="pf-v6-c-jump-links__list" role="list">
  <li class="pf-v6-c-jump-links__item pf-m-current">
    <span class="pf-v6-c-jump-links__link"><a href="#" class="pf-v6-c-button pf-m-link"><span class="pf-v6-c-button__text"><span class="pf-v6-c-jump-links__link-text">Inferno</span></span></a></span>
  </li>
  <li class="pf-v6-c-jump-links__item">
    <span class="pf-v6-c-jump-links__link"><a href="#" class="pf-v6-c-button pf-m-link"><span class="pf-v6-c-button__text"><span class="pf-v6-c-jump-links__link-text">Purgatorio</span></span></a></span>
  </li>
  <li class="pf-v6-c-jump-links__item">
    <span class="pf-v6-c-jump-links__link"><a href="#" class="pf-v6-c-button pf-m-link"><span class="pf-v6-c-button__text"><span class="pf-v6-c-jump-links__link-text">Paradiso</span></span></a></span>
  </li>
    </ul>
  </div>
</nav>
