<div x-data="{ open: false }" style="position: relative; display: inline-block; padding-top: 1rem">
  <button class="pf-v6-c-button pf-m-secondary" type="button" :aria-expanded="open.toString()" @click="open = !open">
    <span class="pf-v6-c-button__text">Show popover</span>
  </button>
  <div
    x-show="open"
    x-cloak
    @click.outside="open = false"
    style="position: absolute; bottom: 100%; left: 50%; transform: translateX(-50%); width: 320px; z-index: 300"
  >
    <div class="pf-v6-c-popover pf-m-top" id="po-basic" role="dialog" aria-labelledby="po-basic-title">
      <div class="pf-v6-c-popover__arrow"></div>
      <div class="pf-v6-c-popover__content">
        <div class="pf-v6-c-popover__close">
          <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Close" @click="open = false">
            <span class="pf-v6-c-button__icon">{icons:svg('fa:xmark').raw}</span>
          </button>
        </div>
          <header class="pf-v6-c-popover__header">
            <h4 class="pf-v6-c-popover__title">
              <span class="pf-v6-c-popover__title-text" id="po-basic-title">Popover header</span>
            </h4>
          </header>
        <div class="pf-v6-c-popover__body">Popovers are triggered by click rather than hover. Click the trigger again, the X, or outside to dismiss.</div>
          <footer class="pf-v6-c-popover__footer">Popover footer</footer>
      </div>
    </div>
  </div>
</div>
