{#include components/data-display/data-list id="dl-compact" ariaLabel="Data list" compact=true}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell}user-1@example.com{/include}
{#include components/data-display/data-list-cell}Admin{/include}
{/include}
{/include}
{/include}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell}user-2@example.com{/include}
{#include components/data-display/data-list-cell}Member{/include}
{/include}
{/include}
{/include}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell}user-3@example.com{/include}
{#include components/data-display/data-list-cell}Viewer{/include}
{/include}
{/include}
{/include}
{/include}
