{#include components/data-display/data-list id="dl-controlling-text" ariaLabel="Data list"}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell id="dl-text-break" modifiers="pf-m-break-word"}pf-m-break-word{/include}
{#include components/data-display/data-list-cell modifiers="pf-m-break-word"}ReallyLongWordThatWouldOverflowTheCellWithoutAModifier-ReallyLongWordThatWouldOverflowTheCellWithoutAModifier-{/include}
{/include}
{/include}
{/include}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell id="dl-text-truncate" modifiers="pf-m-truncate"}pf-m-truncate{/include}
{#include components/data-display/data-list-cell modifiers="pf-m-truncate"}ReallyLongWordThatWouldOverflowTheCellWithoutAModifier-ReallyLongWordThatWouldOverflowTheCellWithoutAModifier-{/include}
{/include}
{/include}
{/include}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell id="dl-text-nowrap" modifiers="pf-m-nowrap"}pf-m-nowrap{/include}
{#include components/data-display/data-list-cell modifiers="pf-m-nowrap"}This cell refuses to wrap its content onto a second line.{/include}
{/include}
{/include}
{/include}
{/include}
