{#include components/data-display/data-list id="dl-mixed-expandable" ariaLabel="Data list"}
{#include components/data-display/data-list-item expandable=true}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-control expandToggle=true toggleAriaLabel="Toggle details for Expandable row" /}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell}<strong>Expandable row</strong>{/include}
{#include components/data-display/data-list-cell}Has a toggle and details{/include}
{/include}
{/include}
{#include components/data-display/data-list-expandable-content}Expanded details for the expandable row.{/include}
{/include}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell}<strong>Plain row</strong>{/include}
{#include components/data-display/data-list-cell}No toggle, no expandable content{/include}
{/include}
{/include}
{/include}
{/include}
