{#include components/data-display/data-list id="dl-plain" ariaLabel="Data list" plain=true}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell}<strong>Primary content</strong>{/include}
{#include components/data-display/data-list-cell}Secondary content{/include}
{/include}
{/include}
{/include}
{#include components/data-display/data-list-item}
{#include components/data-display/data-list-item-row}
{#include components/data-display/data-list-item-content}
{#include components/data-display/data-list-cell}<strong>Second row</strong>{/include}
{#include components/data-display/data-list-cell}More content{/include}
{/include}
{/include}
{/include}
{/include}
