{! Populated from the Java model MenuToggleDemoData.demoToggleInForm (see the Java tab). !}
<form class="pf-v6-c-form" style="max-width: 400px" @submit.prevent>
  <div class="pf-v6-c-form__group">
    <div class="pf-v6-c-form__group-label">
      <label class="pf-v6-c-form__label" for="mt-in-form"><span class="pf-v6-c-form__label-text">Owner</span></label>
    </div>
    <div class="pf-v6-c-form__group-control">
      {#include components/navigation/menu-toggle toggle=demoToggleInForm /}
    </div>
  </div>
</form>
