<div style="max-width: 400px">
  <div class="pf-v6-c-menu-toggle pf-m-typeahead pf-m-full-width" id="mt-typeahead">
    <div class="pf-v6-c-text-input-group pf-m-plain">
      <div class="pf-v6-c-text-input-group__main">
        <span class="pf-v6-c-text-input-group__text">
          <input class="pf-v6-c-text-input-group__text-input" type="text" id="mt-typeahead-input" placeholder="Type to filter" aria-label="Type to filter" />
        </span>
      </div>
    </div>
    <button class="pf-v6-c-menu-toggle__button" type="button" id="mt-typeahead-button" aria-expanded="false" aria-label="Menu toggle">
      <span class="pf-v6-c-menu-toggle__controls"><span class="pf-v6-c-menu-toggle__toggle-icon">{icons:svg('fa:caret-down').raw}</span></span>
    </button>
  </div>
</div>
