<form class="pf-v6-c-form pf-m-horizontal" id="form-horizontal-helper-on-top" novalidate>
  <div class="pf-v6-c-form__group">
    <div class="pf-v6-c-form__group-label pf-m-no-padding-top">
      <label class="pf-v6-c-form__label" for="form-hhot-field"><span class="pf-v6-c-form__label-text">Label</span></label>
    </div>
    <div class="pf-v6-c-form__group-control">
      <div class="pf-v6-c-form__helper-text">
        <div class="pf-v6-c-helper-text">
          <div class="pf-v6-c-helper-text__item">
            <span class="pf-v6-c-helper-text__item-text">Helper text shown above the control.</span>
          </div>
        </div>
      </div>
      <span class="pf-v6-c-form-control"><input type="text" id="form-hhot-field" /></span>
    </div>
  </div>
</form>
