<form class="pf-v6-c-form" id="form-invalid-alert" novalidate style="max-width: 480px">
  <div class="pf-v6-c-alert pf-m-danger pf-m-inline" aria-live="polite">
    <div class="pf-v6-c-alert__icon">{icons:svg('fa:exclamation-circle').raw}</div>
    <p class="pf-v6-c-alert__title"><span class="pf-screen-reader">danger alert:</span> Fill out all required fields before continuing.</p>
  </div>
  <div class="pf-v6-c-form__group">
    <div class="pf-v6-c-form__group-label">
      <label class="pf-v6-c-form__label" for="form-invalid-alert-age">
        <span class="pf-v6-c-form__label-text">Age</span>
        <span class="pf-v6-c-form__label-required" aria-hidden="true">&#42;</span>
      </label>
    </div>
    <div class="pf-v6-c-form__group-control">
      <span class="pf-v6-c-form-control pf-m-required pf-m-error">
        <input type="text" id="form-invalid-alert-age" aria-invalid="true" value="Thirty" />
      </span>
      <div class="pf-v6-c-form__helper-text">
        <div class="pf-v6-c-helper-text">
          <div class="pf-v6-c-helper-text__item pf-m-error">
            <span class="pf-v6-c-helper-text__item-icon">{icons:svg('fa:circle-exclamation').raw}</span>
            <span class="pf-v6-c-helper-text__item-text">Age must be a number.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
