<form class="pf-v6-c-form pf-m-limit-width" id="form-limit-width" novalidate>
  <div class="pf-v6-c-form__group">
    <div class="pf-v6-c-form__group-label">
      <label class="pf-v6-c-form__label" for="form-limit-width-name-field"><span class="pf-v6-c-form__label-text">Name</span></label>
    </div>
    <div class="pf-v6-c-form__group-control"><span class="pf-v6-c-form-control"><input type="text" id="form-limit-width-name-field" /></span></div>
  </div>
  <div class="pf-v6-c-form__group">
    <div class="pf-v6-c-form__group-label">
      <label class="pf-v6-c-form__label" for="form-limit-width-email-field"><span class="pf-v6-c-form__label-text">Email</span></label>
    </div>
    <div class="pf-v6-c-form__group-control"><span class="pf-v6-c-form-control"><input type="text" id="form-limit-width-email-field" /></span></div>
  </div>
</form>
