<div style="max-width: 400px; height: 24rem">
  {#include components/data-display/card id="cd-body-section-fills" fullHeight=true}
  {#include components/data-display/card-title}Card title{/include}
  {#include components/data-display/card-body noFill=true}Body section with <code>pf-m-no-fill</code>{/include}
  {#include components/data-display/card-body noFill=true}Another no-fill body section{/include}
  {#include components/data-display/card-body}This default body section fills the remaining card height.{/include}
  {#include components/data-display/card-footer}Footer{/include}
  {/include}
</div>
