<div style="max-width: 400px">
  <div class="pf-v6-c-card" id="cd-header-images-actions">
    <div class="pf-v6-c-card__header">
      <div class="pf-v6-c-card__actions">
        <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Card actions"><span class="pf-v6-c-button__icon">{icons:svg('fa:ellipsis-vertical').raw}</span></button>
        <div class="pf-v6-c-check pf-m-standalone"><input class="pf-v6-c-check__input" type="checkbox" id="cd-header-images-actions-check" aria-labelledby="cd-header-images-actions-title"  /></div>
      </div>
      <img class="pf-v6-c-brand" src="/web/images/quarkus-pha-icon.svg" alt="Quarkus PHA" style="--pf-v6-c-brand--Height: 40px" />
    </div>
    <div class="pf-v6-c-card__title" id="cd-header-images-actions-title"><h2 class="pf-v6-c-card__title-text">Card title</h2></div>
    <div class="pf-v6-c-card__body">A brand image in the header with actions aligned to the end.</div>
    <div class="pf-v6-c-card__footer">Footer</div>
  </div>
</div>
