<!DOCTYPE html>
<html lang="en-US" x-data>
<head>
    <meta charset="UTF-8">
    <title>{#insert title}{applicationName}{/insert}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="color-scheme" content="light dark">
    <meta name="application-name" content="{applicationName}">

    <link rel="stylesheet" href="/web/vendor/patternfly/patternfly.css">
    <link rel="stylesheet" href="/web/vendor/patternfly/patternfly-addons.css">

    {#insert head}{/insert}

    <script src="/web/vendor/alpine/alpine.min.js" defer></script>
    <script src="/web/vendor/htmx/htmx.min.js"></script>
</head>
<body> <!--class="pf-v6-c-page"-->
{#insert body}{/insert}
</body>
</html>
