<div class="pf-v6-c-overflow-menu" id="om-group-types">
  <div class="pf-v6-c-overflow-menu__content">
    <div class="pf-v6-c-overflow-menu__group pf-m-button-group">
      <div class="pf-v6-c-overflow-menu__item"><button class="pf-v6-c-button pf-m-primary" type="button"><span class="pf-v6-c-button__text">Save</span></button></div>
      <div class="pf-v6-c-overflow-menu__item"><button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Cancel</span></button></div>
    </div>
    <div class="pf-v6-c-overflow-menu__group pf-m-icon-button-group">
      <div class="pf-v6-c-overflow-menu__item"><button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Clone"><span class="pf-v6-c-button__icon">{icons:svg('fa:clone').raw}</span></button></div>
      <div class="pf-v6-c-overflow-menu__item"><button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Sync"><span class="pf-v6-c-button__icon">{icons:svg('fa:arrows-rotate').raw}</span></button></div>
      <div class="pf-v6-c-overflow-menu__item"><button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Edit"><span class="pf-v6-c-button__icon">{icons:svg('fa:pen-to-square').raw}</span></button></div>
    </div>
  </div>
  <div class="pf-v6-c-overflow-menu__control">
    <button class="pf-v6-c-menu-toggle pf-m-plain" type="button" aria-label="More actions">
      <span class="pf-v6-c-menu-toggle__icon">{icons:svg('fa:ellipsis-vertical').raw}</span>
    </button>
  </div>
</div>
