<div x-data="{ open: false, name: '', submitted: false }">
  <button class="pf-v6-c-button pf-m-primary" type="button" @click="open = true; submitted = false"><span class="pf-v6-c-button__text">Open form modal</span></button>
  {#include components/feedback/modal id="mo-with-form" size="sm"}
  {#include components/feedback/modal-close /}
  {#include components/feedback/modal-header headingLevel="h2"}Create connection{/include}
  {#include components/feedback/modal-body}
  <form class="pf-v6-c-form" id="mo-with-form-form" @submit.prevent="submitted = true; open = false">
    <div class="pf-v6-c-form__group">
      <div class="pf-v6-c-form__group-label">
        <label class="pf-v6-c-form__label" for="mo-with-form-name">
          <span class="pf-v6-c-form__label-text">Name</span>
          <span class="pf-v6-c-form__label-required" aria-hidden="true">&#42;</span>
        </label>
      </div>
      <div class="pf-v6-c-form__group-control">
        <span class="pf-v6-c-form-control pf-m-required"><input type="text" id="mo-with-form-name" required x-model="name" /></span>
      </div>
    </div>
  </form>
  {/include}
  {#include components/feedback/modal-footer}
  <button class="pf-v6-c-button pf-m-primary" type="submit" form="mo-with-form-form" :disabled="name.trim() === ''"><span class="pf-v6-c-button__text">Create</span></button>
  <button class="pf-v6-c-button pf-m-link" type="button" @click="open = false"><span class="pf-v6-c-button__text">Cancel</span></button>
  {/include}
  {/include}
  <p x-show="submitted" x-cloak style="margin-top: 0.5rem">Created connection: <strong x-text="name"></strong></p>
</div>
