{! Align right on multiple groups — PF core parity. !}
<div class="ws-core-l-flex">
<div class="pf-v6-l-flex">
  <div class="pf-v6-l-flex">
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
  </div>
  <div class="pf-v6-l-flex pf-m-align-right">
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
  </div>
  <div class="pf-v6-l-flex pf-m-align-right">
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
  </div>
</div>
</div>
