{! Grow — PF core parity. !}
<div class="ws-core-l-flex">
<div class="pf-v6-l-flex">
  <div class="pf-v6-l-flex pf-m-grow ws-example-flex-border">
    <div class="pf-v6-l-flex__item">Flex item</div>
    <div class="pf-v6-l-flex__item">Flex item</div>
    <div class="pf-v6-l-flex__item">Flex item</div>
  </div>
  <div class="pf-v6-l-flex ws-example-flex-border">
    <div class="pf-v6-l-flex__item">Flex item</div>
    <div class="pf-v6-l-flex__item">Flex item</div>
  </div>
  <div class="pf-v6-l-flex ws-example-flex-border">
    <div class="pf-v6-l-flex__item">Flex item</div>
  </div>
</div>
</div>
