{! Nested columns — PF core parity. !}
<div class="ws-core-l-flex">
<div class="pf-v6-l-flex pf-m-column">
  <div class="pf-v6-l-flex">
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
  </div>
  <div class="pf-v6-l-flex">
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
  </div>
  <div class="pf-v6-l-flex">
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
  </div>
</div>
<br>
<br>
<div class="pf-v6-l-flex">
  <div class="pf-v6-l-flex pf-m-column">
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
  </div>
  <div class="pf-v6-l-flex pf-m-column">
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
    <div class="pf-v6-l-flex__item">
      Flex item
    </div>
  </div>
</div>
</div>
