{! Spacing on children — PF core parity. !}
<div class="ws-core-l-flex">
<div class="pf-v6-l-flex">
  <div class="pf-v6-l-flex__item pf-m-spacer-none">
    Item - none
  </div>
  <div class="pf-v6-l-flex__item pf-m-spacer-xs">
    Item - xs
  </div>
  <div class="pf-v6-l-flex__item pf-m-spacer-sm">
    Item - sm
  </div>
  <div class="pf-v6-l-flex__item pf-m-spacer-md">
    Item - md
  </div>
  <div class="pf-v6-l-flex__item pf-m-spacer-lg">
    Item - lg
  </div>
  <div class="pf-v6-l-flex__item pf-m-spacer-xl">
    Item - xl
  </div>
  <div class="pf-v6-l-flex__item pf-m-spacer-2xl">
    Item - 2xl
  </div>
  <div class="pf-v6-l-flex__item pf-m-spacer-3xl">
    Item - 3xl
  </div>
  <div class="pf-v6-l-flex__item pf-m-spacer-4xl">
    Item - 4xl
  </div>
</div>
</div>
