<nav class="pf-v6-c-nav pf-m-horizontal pf-m-subnav" id="nav-horizontal-subnav" aria-label="Local navigation">
  <ul class="pf-v6-c-nav__list">
    <li class="pf-v6-c-nav__item">
      <a href="#" class="pf-v6-c-nav__link pf-m-current" aria-current="page">Overview</a>
    </li>
    <li class="pf-v6-c-nav__item"><a href="#" class="pf-v6-c-nav__link">Details</a></li>
    <li class="pf-v6-c-nav__item"><a href="#" class="pf-v6-c-nav__link">YAML</a></li>
    <li class="pf-v6-c-nav__item"><a href="#" class="pf-v6-c-nav__link">Events</a></li>
  </ul>
</nav>
