<nav class="pf-v6-c-nav" id="nav-icons" aria-label="Navigation with icons" style="max-width: 280px">
  <ul class="pf-v6-c-nav__list">
    <li class="pf-v6-c-nav__item">
      <a href="#" class="pf-v6-c-nav__link pf-m-current" aria-current="page">
        <span class="pf-v6-c-nav__link-icon">{icons:svg('fa:tachometer-alt').raw}</span>
        <span class="pf-v6-c-nav__link-text">Dashboard</span>
      </a>
    </li>
    <li class="pf-v6-c-nav__item">
      <a href="#" class="pf-v6-c-nav__link">
        <span class="pf-v6-c-nav__link-icon">{icons:svg('fa:server').raw}</span>
        <span class="pf-v6-c-nav__link-text">Servers</span>
      </a>
    </li>
    <li class="pf-v6-c-nav__item">
      <a href="#" class="pf-v6-c-nav__link">
        <span class="pf-v6-c-nav__link-icon">{icons:svg('fa:database').raw}</span>
        <span class="pf-v6-c-nav__link-text">Databases</span>
      </a>
    </li>
    <li class="pf-v6-c-nav__item">
      <a href="#" class="pf-v6-c-nav__link">
        <span class="pf-v6-c-nav__link-icon">{icons:svg('fa:gear').raw}</span>
        <span class="pf-v6-c-nav__link-text">Settings</span>
      </a>
    </li>
  </ul>
</nav>
