<div class="ws-preview-html">
  {#include components/feedback/helper-text id="ht-multi-pwd" multi=true}
    {#include components/feedback/helper-text-item status="success"}At least 8 characters{/include}
    {#include components/feedback/helper-text-item status="success"}Contains an uppercase letter{/include}
    {#include components/feedback/helper-text-item status="warning"}Contains a number{/include}
    {#include components/feedback/helper-text-item status="error"}Contains a special character{/include}
  {/include}
</div>
