<div class="ws-preview-html">
  {#include components/feedback/helper-text id="ht-multi-pwd" component="ul"}
    {#include components/feedback/helper-text-item component="li" variant="success"}At least 8 characters{/include}
    {#include components/feedback/helper-text-item component="li" variant="success"}Contains an uppercase letter{/include}
    {#include components/feedback/helper-text-item component="li" variant="warning"}Contains a number{/include}
    {#include components/feedback/helper-text-item component="li" variant="error"}Contains a special character{/include}
  {/include}
</div>
