<div class="ws-preview-html" style="display: flex; gap: 0.5rem; flex-wrap: wrap; align-items: center">
  {#include components/actions/button id="btn-link-primary" variant="primary" href="#links-as-buttons"}{#content}Primary
  link{/content}{/include}
{#include components/actions/button id="btn-link-secondary" variant="secondary" href="#links-as-buttons"}{#content}Secondary link{/content}{/include}
{#include components/actions/button id="btn-link-link" variant="link" href="#links-as-buttons" icon="fa:arrow-up-right-from-square" iconPosition="end"}{#content}Open external{/content}{/include}
</div>
