<div class="pf-v6-c-toggle-group" id="tg-text-icons" role="group" aria-label="Toggle group" x-data="{ sel: 'one' }">
  <div class="pf-v6-c-toggle-group__item">
    <button class="pf-v6-c-toggle-group__button" type="button" :aria-pressed="sel === 'one'" :class="sel === 'one' ? 'pf-m-selected' : ''" @click="sel = 'one'">
      <span class="pf-v6-c-toggle-group__icon">{icons:svg('fa:copy').raw}</span><span class="pf-v6-c-toggle-group__text">Copy</span>
    </button>
  </div>
  <div class="pf-v6-c-toggle-group__item">
    <button class="pf-v6-c-toggle-group__button" type="button" :aria-pressed="sel === 'two'" :class="sel === 'two' ? 'pf-m-selected' : ''" @click="sel = 'two'">
      <span class="pf-v6-c-toggle-group__icon">{icons:svg('fa:clipboard').raw}</span><span class="pf-v6-c-toggle-group__text">Paste</span>
    </button>
  </div>
  <div class="pf-v6-c-toggle-group__item">
    <button class="pf-v6-c-toggle-group__button" type="button" :aria-pressed="sel === 'three'" :class="sel === 'three' ? 'pf-m-selected' : ''" @click="sel = 'three'">
      <span class="pf-v6-c-toggle-group__icon">{icons:svg('fa:print').raw}</span><span class="pf-v6-c-toggle-group__text">Print</span>
    </button>
  </div>
</div>
