{#include components/feedback/progress-stepper id="ps-compact" compact=true}{#content}
<li class="pf-v6-c-progress-stepper__step pf-m-success">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon">{icons:svg('fa:circle-check').raw}</span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main"><div class="pf-v6-c-progress-stepper__step-title">A</div></div>
</li>
<li class="pf-v6-c-progress-stepper__step pf-m-current" aria-current="step">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon"
      ><span class="pf-v6-c-progress-stepper__step-icon-inner"></span
    ></span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main"><div class="pf-v6-c-progress-stepper__step-title">B</div></div>
</li>
<li class="pf-v6-c-progress-stepper__step">
  <div class="pf-v6-c-progress-stepper__step-connector"><span class="pf-v6-c-progress-stepper__step-icon"></span></div>
  <div class="pf-v6-c-progress-stepper__step-main"><div class="pf-v6-c-progress-stepper__step-title">C</div></div>
</li>
{/content}{/include}
