{#include components/feedback/progress-stepper id="ps-vertical" vertical=true}{#content}
<li class="pf-v6-c-progress-stepper__step pf-m-success">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon">{icons:svg('fa:circle-check').raw}</span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Configure</div>
    <div class="pf-v6-c-progress-stepper__step-description">Pipeline configured.</div>
  </div>
</li>
<li class="pf-v6-c-progress-stepper__step pf-m-current" aria-current="step">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon"
      ><span class="pf-v6-c-progress-stepper__step-icon-inner"></span
    ></span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Build</div>
    <div class="pf-v6-c-progress-stepper__step-description">Compiling sources…</div>
  </div>
</li>
<li class="pf-v6-c-progress-stepper__step pf-m-pending">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon"></span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Deploy</div>
    <div class="pf-v6-c-progress-stepper__step-description">Waiting for build.</div>
  </div>
</li>
{/content}{/include}
