<ol class="pf-v6-c-progress-stepper pf-m-center" id="ps-alignment" role="list" aria-label="Progress steps">
<li class="pf-v6-c-progress-stepper__step pf-m-success">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon">{icons:svg('fa:circle-check').raw}</span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">First step</div>
  </div>
</li>
<li class="pf-v6-c-progress-stepper__step pf-m-current" aria-current="step">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon"></span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Second step</div>
  </div>
</li>
<li class="pf-v6-c-progress-stepper__step">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon"></span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Third step</div>
  </div>
</li>
</ol>
