<ol class="pf-v6-c-progress-stepper" id="ps-failure" role="list" aria-label="Progress steps">
<li class="pf-v6-c-progress-stepper__step pf-m-success">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon">{icons:svg('fa:circle-check').raw}</span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Built</div>
  </div>
</li>
<li class="pf-v6-c-progress-stepper__step pf-m-success">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon">{icons:svg('fa:circle-check').raw}</span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Tests</div>
  </div>
</li>
<li class="pf-v6-c-progress-stepper__step pf-m-danger" aria-current="step">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon">{icons:svg('fa:exclamation-circle').raw}</span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Deploy failed</div>
  </div>
</li>
<li class="pf-v6-c-progress-stepper__step">
  <div class="pf-v6-c-progress-stepper__step-connector">
    <span class="pf-v6-c-progress-stepper__step-icon"></span>
  </div>
  <div class="pf-v6-c-progress-stepper__step-main">
    <div class="pf-v6-c-progress-stepper__step-title">Released</div>
  </div>
</li>
</ol>
