{! Responsive max width — PF core parity. !}
<div class="ws-core-l-gallery">
<div class="pf-v6-l-gallery pf-m-gutter" style="--pf-v6-l-gallery--GridTemplateColumns--max-on-md: 280px; --pf-v6-l-gallery--GridTemplateColumns--max-on-lg: 320px; --pf-v6-l-gallery--GridTemplateColumns--max-on-2xl: 400px;">
  <div class="pf-v6-l-gallery__item">content</div>
  <div class="pf-v6-l-gallery__item">content</div>
  <div class="pf-v6-l-gallery__item">content</div>
  <div class="pf-v6-l-gallery__item">content</div>
  <div class="pf-v6-l-gallery__item">content</div>
</div>
</div>
