<div style="display: flex; gap: 6rem">
  <div style="position: relative">
    <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Target</span></button>
    <div style="position: absolute; right: 100%; top: 50%; transform: translateY(-50%)">
      {#include components/feedback/tooltip id="tt-left" position="left" visible=true}Left{/include}
    </div>
  </div>
  <div style="position: relative">
    <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Target</span></button>
    <div style="position: absolute; left: 100%; top: 50%; transform: translateY(-50%)">
      {#include components/feedback/tooltip id="tt-right" position="right" visible=true}Right{/include}
    </div>
  </div>
</div>
