<div class="pf-v6-c-multiple-file-upload pf-m-horizontal" id="mfu-horizontal">
  <div class="pf-v6-c-multiple-file-upload__main">
    <div class="pf-v6-c-multiple-file-upload__title">
      <div class="pf-v6-c-multiple-file-upload__title-icon"><span class="pf-v6-c-button__icon">{icons:svg('fa:cloud-arrow-up').raw}</span></div>
      <div class="pf-v6-c-multiple-file-upload__title-text">
        <div class="pf-v6-c-multiple-file-upload__title-text-main">Drag and drop files here</div>
        <div class="pf-v6-c-multiple-file-upload__title-text-sub">PNG, JPG up to 10 MB</div>
      </div>
    </div>
    <div class="pf-v6-c-multiple-file-upload__upload">
      <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Upload</span></button>
    </div>
  </div>
</div>
