<div x-data="{ show: false }">
  {#include components/forms/login-page id="lp-show-hide" titleText="Log in to your account" titleHeadingLevel="h4" hasLoginFooter=true}
  {#loginHeaderDesc}
  <p class="pf-v6-c-login__main-header-desc">Enter your single sign-on LDAP credentials.</p>
  {/loginHeaderDesc}
  {#loginBody}
  <form class="pf-v6-c-form" novalidate @submit.prevent>
    <div class="pf-v6-c-form__group">
      <div class="pf-v6-c-form__group-label">
        <label class="pf-v6-c-form__label" for="lp-show-hide-username-field">
          <span class="pf-v6-c-form__label-text">Username</span>
          <span class="pf-v6-c-form__label-required" aria-hidden="true">&#42;</span>
        </label>
      </div>
      <div class="pf-v6-c-form__group-control">
        <span class="pf-v6-c-form-control pf-m-required">
          <input type="text" id="lp-show-hide-username-field" name="lp-show-hide-username" required />
        </span>
      </div>
    </div>
    <div class="pf-v6-c-form__group">
      <div class="pf-v6-c-form__group-label">
        <label class="pf-v6-c-form__label" for="lp-show-hide-password-field">
          <span class="pf-v6-c-form__label-text">Password</span>
          <span class="pf-v6-c-form__label-required" aria-hidden="true">&#42;</span>
        </label>
      </div>
      <div class="pf-v6-c-form__group-control">
        <div class="pf-v6-c-input-group">
          <div class="pf-v6-c-input-group__item pf-m-fill">
            <span class="pf-v6-c-form-control pf-m-required">
              <input
                type="password"
                :type="show ? 'text' : 'password'"
                id="lp-show-hide-password-field"
                name="lp-show-hide-password"
                required
              />
            </span>
          </div>
          <div class="pf-v6-c-input-group__item">
            <button
              class="pf-v6-c-button pf-m-plain"
              type="button"
              aria-label="Show password"
              :aria-label="show ? 'Hide password' : 'Show password'"
              :aria-pressed="show.toString()"
              @click="show = !show"
            >
              <span class="pf-v6-c-button__icon">
                <span x-show="!show">{icons:svg('fa:eye').raw}</span>
                <span x-show="show" x-cloak>{icons:svg('fa:eye-slash').raw}</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="pf-v6-c-form__group pf-m-action">
      <div class="pf-v6-c-form__actions">
        <button type="submit" class="pf-v6-c-button pf-m-primary pf-m-block">
          <span class="pf-v6-c-button__text">Log in</span>
        </button>
      </div>
    </div>
  </form>
  {/loginBody}
  {#loginFooter}
  <div class="pf-v6-c-login__main-footer-band">
    <p class="pf-v6-c-login__main-footer-band-item"><a href="#">Forgot username or password?</a></p>
  </div>
  {/loginFooter}
  {/include}
</div>
