<div x-data="{
    available: ['Apple', 'Banana', 'Cherry'],
    chosen: [],
    focusAvail: null, focusChosen: null,
    moveRight() { if (this.focusAvail !== null) { this.chosen.push(this.focusAvail); this.available = this.available.filter((x) => x !== this.focusAvail); this.focusAvail = null; } },
    moveLeft() { if (this.focusChosen !== null) { this.available.push(this.focusChosen); this.chosen = this.chosen.filter((x) => x !== this.focusChosen); this.focusChosen = null; } }
  }">
  {#include components/forms/dual-list-selector id="dls-tooltips"}{#content}
  <div class="pf-v6-c-dual-list-selector__pane pf-m-available">
    <div class="pf-v6-c-dual-list-selector__header">
      <div class="pf-v6-c-dual-list-selector__title-text">Available options</div>
    </div>
    <div class="pf-v6-c-dual-list-selector__status">
      <div class="pf-v6-c-dual-list-selector__status-text" x-text="(focusAvail ? '1' : '0') + ' of ' + available.length + ' options selected'"></div>
    </div>
    <div class="pf-v6-c-dual-list-selector__menu">
      <ul class="pf-v6-c-dual-list-selector__list" role="listbox" aria-label="Available options">
        <template x-for="item in available" :key="item">
          <li class="pf-v6-c-dual-list-selector__list-item" role="option" :aria-selected="(focusAvail === item).toString()" @click="focusAvail = (focusAvail === item ? null : item)">
            <div class="pf-v6-c-dual-list-selector__list-item-row" :class="{ 'pf-m-selected': focusAvail === item }">
              <span class="pf-v6-c-dual-list-selector__item">
                <span class="pf-v6-c-dual-list-selector__item-main">
                  <span class="pf-v6-c-dual-list-selector__item-text" x-text="item"></span>
                </span>
              </span>
            </div>
          </li>
        </template>
      </ul>
    </div>
  </div>
  <div class="pf-v6-c-dual-list-selector__controls">
    <div class="pf-v6-c-dual-list-selector__controls-item" x-data="{ tip: false }" style="position: relative">
      <button class="pf-v6-c-button pf-m-plain" type="button" :disabled="focusAvail === null" @click="moveRight()" aria-label="Move selected to chosen" @mouseenter="tip = true" @mouseleave="tip = false" @focus="tip = true" @blur="tip = false">
        <span class="pf-v6-c-button__icon">{icons:svg('fa:angle-right').raw}</span>
      </button>
      <div class="pf-v6-c-tooltip pf-m-top" role="tooltip" x-show="tip" x-cloak style="position: absolute; bottom: 100%; left: 50%; transform: translateX(-50%); z-index: 300; width: max-content; max-width: 200px">
        <div class="pf-v6-c-tooltip__arrow"></div>
        <div class="pf-v6-c-tooltip__content">Move the selected item to Chosen</div>
      </div>
    </div>
    <div class="pf-v6-c-dual-list-selector__controls-item" x-data="{ tip: false }" style="position: relative">
      <button class="pf-v6-c-button pf-m-plain" type="button" :disabled="focusChosen === null" @click="moveLeft()" aria-label="Move selected to available" @mouseenter="tip = true" @mouseleave="tip = false" @focus="tip = true" @blur="tip = false">
        <span class="pf-v6-c-button__icon">{icons:svg('fa:angle-left').raw}</span>
      </button>
      <div class="pf-v6-c-tooltip pf-m-top" role="tooltip" x-show="tip" x-cloak style="position: absolute; bottom: 100%; left: 50%; transform: translateX(-50%); z-index: 300; width: max-content; max-width: 200px">
        <div class="pf-v6-c-tooltip__arrow"></div>
        <div class="pf-v6-c-tooltip__content">Move the selected item back to Available</div>
      </div>
    </div>
  </div>
  <div class="pf-v6-c-dual-list-selector__pane pf-m-chosen">
    <div class="pf-v6-c-dual-list-selector__header">
      <div class="pf-v6-c-dual-list-selector__title-text">Chosen options</div>
    </div>
    <div class="pf-v6-c-dual-list-selector__status">
      <div class="pf-v6-c-dual-list-selector__status-text" x-text="(focusChosen ? '1' : '0') + ' of ' + chosen.length + ' options selected'"></div>
    </div>
    <div class="pf-v6-c-dual-list-selector__menu">
      <ul class="pf-v6-c-dual-list-selector__list" role="listbox" aria-label="Chosen options">
        <template x-for="item in chosen" :key="item">
          <li class="pf-v6-c-dual-list-selector__list-item" role="option" :aria-selected="(focusChosen === item).toString()" @click="focusChosen = (focusChosen === item ? null : item)">
            <div class="pf-v6-c-dual-list-selector__list-item-row" :class="{ 'pf-m-selected': focusChosen === item }">
              <span class="pf-v6-c-dual-list-selector__item">
                <span class="pf-v6-c-dual-list-selector__item-main">
                  <span class="pf-v6-c-dual-list-selector__item-text" x-text="item"></span>
                </span>
              </span>
            </div>
          </li>
        </template>
      </ul>
    </div>
  </div>
  {/content}{/include}
</div>
