<div class="pf-v6-c-code-block" id="cb-copy" x-data="{ copied: false }">
  <div class="pf-v6-c-code-block__header">
    <div class="pf-v6-c-code-block__actions">
      <div class="pf-v6-c-code-block__actions-item">
        <button
          class="pf-v6-c-button pf-m-plain"
          type="button"
          :aria-label="copied ? 'Successfully copied to clipboard!' : 'Copy to clipboard'"
          @click="navigator.clipboard.writeText($el.closest('.pf-v6-c-code-block').querySelector('.pf-v6-c-code-block__code').textContent); copied = true; setTimeout(() => copied = false, 2000)"
        >
          <span class="pf-v6-c-button__icon">
            <span x-show="!copied">{icons:svg('fa:copy').raw}</span
            ><span x-show="copied" x-cloak>{icons:svg('fa:check').raw}</span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="pf-v6-c-code-block__content">
    <pre
      class="pf-v6-c-code-block__pre"
    ><code class="pf-v6-c-code-block__code">curl -X POST https://api.example.com/v1/projects \
  -H "Authorization: Bearer $TOKEN" \
  -d '{"name": "my-project"}'</code></pre>
  </div>
</div>
