{#include components/navigation/toolbar id="tb-basic"}
  {#include components/navigation/toolbar-content}
    {#include components/navigation/toolbar-content-section}
      {#include components/navigation/toolbar-group}
        {#include components/navigation/toolbar-item}
          <div class="pf-v6-c-text-input-group">
            <div class="pf-v6-c-text-input-group__main pf-m-icon">
              <span class="pf-v6-c-text-input-group__text">
                <span class="pf-v6-c-text-input-group__icon">{icons:svg('fa:magnifying-glass').raw}</span>
                <input class="pf-v6-c-text-input-group__text-input" type="search" placeholder="Search" aria-label="Search">
              </span>
            </div>
          </div>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Filter</span></button>
        {/include}
      {/include}
      {#include components/navigation/toolbar-group alignEnd=true}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-primary" type="button"><span class="pf-v6-c-button__text">Create</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="More actions"><span class="pf-v6-c-button__icon">{icons:svg('fa:ellipsis-vertical').raw}</span></button>
        {/include}
      {/include}
    {/include}
  {/include}
{/include}
