<div style="max-width: 420px; border: 1px dashed var(--pf-t--global--border--color--default)">
{#include components/navigation/toolbar id="tb-content-wrap"}
  {#include components/navigation/toolbar-content}
    {#include components/navigation/toolbar-content-section modifiers="pf-m-wrap"}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Wrapping action 1</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Wrapping action 2</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Wrapping action 3</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Wrapping action 4</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Wrapping action 5</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Wrapping action 6</span></button>
        {/include}
    {/include}
  {/include}
{/include}
</div>
