{#include components/navigation/toolbar id="tb-group-spacers"}
  {#include components/navigation/toolbar-content}
    {#include components/navigation/toolbar-content-section}
      {#include components/navigation/toolbar-group columnGap="none" attrs='style="outline: 1px dashed var(--pf-t--global--border--color--default)"'}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-none 1</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-none 2</span></button>
        {/include}
      {/include}
      {#include components/navigation/toolbar-group columnGap="2xl" attrs='style="outline: 1px dashed var(--pf-t--global--border--color--default)"'}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-2xl 1</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-2xl 2</span></button>
        {/include}
      {/include}
    {/include}
  {/include}
{/include}
