<div class="pf-v6-c-toolbar pf-m-inset-md pf-m-inset-xl-on-lg" id="tb-insets">
  <div class="pf-v6-c-toolbar__content">
    <div class="pf-v6-c-toolbar__content-section">
        <div class="pf-v6-c-toolbar__item">
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Inset md</span></button>
        </div>
        <div class="pf-v6-c-toolbar__item">
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Action 2</span></button>
        </div>
    </div>
  </div>
</div>
