{#include components/navigation/toolbar id="tb-insets" modifiers="pf-m-inset-md pf-m-inset-xl-on-lg"}
  {#include components/navigation/toolbar-content}
    {#include components/navigation/toolbar-content-section}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Inset md</span></button>
        {/include}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Action 2</span></button>
        {/include}
    {/include}
  {/include}
{/include}
