{#include components/navigation/toolbar id="tb-item-spacers"}
  {#include components/navigation/toolbar-content}
    {#include components/navigation/toolbar-content-section}
        {#include components/navigation/toolbar-item}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Default gap</span></button>
        {/include}
        {#include components/navigation/toolbar-item gap="none"}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-none</span></button>
        {/include}
        {#include components/navigation/toolbar-item gap="xl"}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-xl</span></button>
        {/include}
        {#include components/navigation/toolbar-item gap="4xl"}
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-4xl</span></button>
        {/include}
    {/include}
  {/include}
{/include}
