<div class="pf-v6-c-toolbar" id="tb-item-spacers">
  <div class="pf-v6-c-toolbar__content">
    <div class="pf-v6-c-toolbar__content-section">
        <div class="pf-v6-c-toolbar__item">
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">Default gap</span></button>
        </div>
        <div class="pf-v6-c-toolbar__item pf-m-gap-none">
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-none</span></button>
        </div>
        <div class="pf-v6-c-toolbar__item pf-m-gap-xl">
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-xl</span></button>
        </div>
        <div class="pf-v6-c-toolbar__item pf-m-gap-4xl">
          <button class="pf-v6-c-button pf-m-secondary" type="button"><span class="pf-v6-c-button__text">gap-4xl</span></button>
        </div>
    </div>
  </div>
</div>
