<div class="ws-preview-html">
  {#include components/data-display/label-group id="lbg-basic" ariaLabel="Basic label group"} {#content}
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-basic-lbl-1" color="blue"}Label one{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-basic-lbl-2" color="green"}Label two{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-basic-lbl-3" color="orange"}Label three{/include}
  </li>
  {/content} {/include}
</div>
