<div class="ws-preview-html" style="display: flex; flex-wrap: wrap; gap: 0.5rem; align-items: center">
  {#include components/data-display/label id="lbl-cmp-grey" compact=true}Compact grey{/include}
  {#include components/data-display/label id="lbl-cmp-blue" color="blue" compact=true}Compact blue{/include}
  {#include components/data-display/label id="lbl-cmp-outline" variant="outline" compact=true}Compact outline{/include}
  {#include components/data-display/label id="lbl-cmp-icon" color="green" compact=true iconName="fa:circle-check"}Compact icon{/include}
  {#include components/data-display/label id="lbl-cmp-removable" color="blue" compact=true removable=true}Compact removable{/include}
</div>
