<div class="ws-preview-html" style="display: flex; flex-wrap: wrap; gap: 0.5rem; align-items: center">
  {#include components/data-display/label id="lbl-grey"}Grey{/include}
  {#include components/data-display/label id="lbl-blue" color="blue"}Blue{/include}
  {#include components/data-display/label id="lbl-teal" color="teal"}Teal{/include}
  {#include components/data-display/label id="lbl-green" color="green"}Green{/include}
  {#include components/data-display/label id="lbl-orange" color="orange"}Orange{/include}
  {#include components/data-display/label id="lbl-orangered" color="orangered"}Orangered{/include}
  {#include components/data-display/label id="lbl-purple" color="purple"}Purple{/include}
  {#include components/data-display/label id="lbl-red" color="red"}Red{/include}
  {#include components/data-display/label id="lbl-yellow" color="yellow"}Yellow{/include}
  {#include components/data-display/label id="lbl-removable" color="blue" removable=true}Removable{/include}
  {#include components/data-display/label id="lbl-info" status="info"}Info{/include}
  {#include components/data-display/label id="lbl-success" status="success"}Success{/include}
  {#include components/data-display/label id="lbl-warning" status="warning"}Warning{/include}
  {#include components/data-display/label id="lbl-danger" status="danger"}Danger{/include}
  {#include components/data-display/label id="lbl-disabled" disabled=true}Disabled{/include}
  {#include components/data-display/label id="lbl-clickable" color="blue" clickable=true href="#filled-labels"}Clickable{/include}
</div>
