<div class="ws-preview-html">
  {#include components/data-display/label-group id="lbg-overflow" ariaLabel="Label group with overflow" numLabels=3}
  {#content}
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-1"}Label one{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-2"}Label two{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-3"}Label three{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-4"}Label four{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-5"}Label five{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-6"}Label six{/include}
  </li>
  {/content} {/include}
</div>
