<div class="ws-preview-html">
  {#include components/data-display/label-group id="lbg-overflow" ariaLabel="Label group with overflow" numLabels=3}
  {#content}
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-1" text="Label one" /}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-2" text="Label two" /}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-3" text="Label three" /}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-4" text="Label four" /}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-5" text="Label five" /}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-of-6" text="Label six" /}
  </li>
  {/content} {/include}
</div>
