<div class="ws-preview-html" style="display: flex; flex-wrap: wrap; gap: 0.5rem">
  {#include components/data-display/label id="lbl-outline-grey" variant="outline"}Grey{/include}
  {#include components/data-display/label id="lbl-outline-blue" color="blue" variant="outline"}Blue{/include}
  {#include components/data-display/label id="lbl-outline-teal" color="teal" variant="outline"}Teal{/include}
  {#include components/data-display/label id="lbl-outline-green" color="green" variant="outline"}Green{/include}
  {#include components/data-display/label id="lbl-outline-orange" color="orange" variant="outline"}Orange{/include}
  {#include components/data-display/label id="lbl-outline-purple" color="purple" variant="outline"}Purple{/include}
  {#include components/data-display/label id="lbl-outline-red" color="red" variant="outline"}Red{/include}
  {#include components/data-display/label id="lbl-outline-icon" color="blue" variant="outline" iconName="fa:circle-info"}With icon{/include}
  {#include components/data-display/label id="lbl-outline-removable" color="blue" variant="outline" removable=true}Removable{/include}
</div>
