<div class="ws-preview-html" style="display: flex; flex-wrap: wrap; gap: 0.5rem">
  {#include components/data-display/label id="lbl-outline-grey" text="Grey" variant="outline" /}
  {#include components/data-display/label id="lbl-outline-blue" text="Blue" color="blue" variant="outline" /}
  {#include components/data-display/label id="lbl-outline-teal" text="Teal" color="teal" variant="outline" /}
  {#include components/data-display/label id="lbl-outline-green" text="Green" color="green" variant="outline" /}
  {#include components/data-display/label id="lbl-outline-orange" text="Orange" color="orange" variant="outline" /}
  {#include components/data-display/label id="lbl-outline-purple" text="Purple" color="purple" variant="outline" /}
  {#include components/data-display/label id="lbl-outline-red" text="Red" color="red" variant="outline" /}
  {#include components/data-display/label id="lbl-outline-icon" text="With icon" color="blue" variant="outline" iconName="fa:circle-info" /}
  {#include components/data-display/label id="lbl-outline-removable" text="Removable" color="blue" variant="outline" removable=true /}
</div>
