<div class="ws-preview-html">
  {#include components/data-display/label-group id="lbg-vertical" vertical=true closable=true
  categoryName="Group label with a very long name" closeBtnAria="Remove category" numLabels=3}
  {#content}
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-v-1" iconName="fa:circle-info"}Label 1{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-v-2" color="blue" iconName="fa:circle-info"}Label 2{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-v-3" color="green" iconName="fa:circle-info"}Label 3{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-v-4" color="orange" iconName="fa:circle-info"}Label 4{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-v-5" color="red" iconName="fa:circle-info"}Label 5{/include}
  </li>
  {/content} {/include}
</div>
