<div class="ws-preview-html">
  {#include components/data-display/label-group id="lbg-vertical-category" vertical=true categoryName="Category 1"}
  {#content}
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-vcat-1" iconName="fa:circle-info"}Label 1{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-vcat-2" color="blue" iconName="fa:circle-info"}Label 2{/include}
  </li>
  <li class="pf-v6-c-label-group__list-item">
    {#include components/data-display/label id="lbg-vcat-3" color="green" iconName="fa:circle-info"}Label 3{/include}
  </li>
  {/content} {/include}
</div>
