<div class="ws-preview-html" style="display: flex; flex-direction: column; gap: 0.75rem">
  <h6 class="pf-v6-c-content--h6" style="margin: 0">
    {#include components/icon name="fa:star" size="heading-sm" /} Heading with a
    <code class="ws-code">heading-sm</code> icon.
  </h6>
  <h5 class="pf-v6-c-content--h5" style="margin: 0">
    {#include components/icon name="fa:star" size="heading-md" /} Heading with a
    <code class="ws-code">heading-md</code> icon.
  </h5>
  <h4 class="pf-v6-c-content--h4" style="margin: 0">
    {#include components/icon name="fa:star" size="heading-lg" /} Heading with a
    <code class="ws-code">heading-lg</code> icon.
  </h4>
  <h3 class="pf-v6-c-content--h3" style="margin: 0">
    {#include components/icon name="fa:star" size="heading-xl" /} Heading with a
    <code class="ws-code">heading-xl</code> icon.
  </h3>
  <h2 class="pf-v6-c-content--h2" style="margin: 0">
    {#include components/icon name="fa:star" size="heading-2xl" /} Heading with a
    <code class="ws-code">heading-2xl</code> icon.
  </h2>
  <h1 class="pf-v6-c-content--h1" style="margin: 0">
    {#include components/icon name="fa:star" size="heading-3xl" /} Heading with a
    <code class="ws-code">heading-3xl</code> icon.
  </h1>
</div>
